#login {
  position: relative;
  /* left: 40%; */
  margin: 175px;
  margin-left: 45%;
  /* right: 50% */
  

}

#formforsearch {
  position: relative;
  /* left: 40%; */
  margin: 175px;
  /* margin-left: 45% */
  /* right: 50% */

}

#writtentickets {
  /* position: relative;
  /* left: 40%; 
  margin: 175px;
  margin-left: 45%; */
  /* right: 50% */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 175px;

}


#loginheader {
  color: #d24646;
  position: center;
  /* left: 50%; */
  /* padding: 5% */
}
/* 
form {
    display: inline-block;
} */
body {
  background-color: rgb(64, 140, 211);
  /* background-color: rgb(9, 52, 173); */
}

input {
  background-color: #fff;
  min-height: 20px;
  
}
/* .buttonHolder {
    background-color: yellow
} */

#logo {
   position: relative;
  left: 40%;
  
}

/* input[type=text] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
input[type=password] {
    padding:5px; 
    border:2px solid #ccc; 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}
input[type=password]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 6px; 
}  */

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}



.lds-roller {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 32px 32px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
  margin: -3px 0 0 -3px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 50px;
  left: 50px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 54px;
  left: 45px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 57px;
  left: 39px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 58px;
  left: 32px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 57px;
  left: 25px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 54px;
  left: 19px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 50px;
  left: 14px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 45px;
  left: 10px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
main {
  display: grid;
  grid-template-columns: 50% 50%;

}

.container {
  margin: 0 auto;
}
li { cursor: pointer; }

.topnav {
  background-color: #333;
  overflow: hidden;
  top: 0;
}

.active {
  background-color: rgb(189, 189, 189);
  color: black;
  position: relative;
  left: 95%;

}
#tagcolor {
  color:White;
  font-family: 'Exo', sans-serif;

}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}
.login-header {
  /* background: #28d; */
  /* background: #28d; */
  background: radial-gradient(rgb(41,75,172), transparent);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.login-container {
  background: #ebebeb;
  padding: 12px;
}
.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}
.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
  /* position: relative; */
  /* left: 40%; */
  margin: 175px;
  margin-left: 37%;
  /* right: 50% */
  
}
.login-triangle {
  width: 100;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

ul > li {
  opacity: 1.0;
}

ul:hover > li:not(:hover) {
  opacity: 0.5;
}
